  body {
            background-color: #f5f5f5;   /* body-background-color */
            font-family: Arial, sans-serif;
	        
        }

        /* Header */
        .header {
            background-color: #011e29;  /* header-background-color */
            padding: 20px;
            text-align: center;
            color: white;
        }

.news{
	display:flex;
	
}
        /* Latest News Section */
        .latest-news-section {
            background-color: white;
            width: 200px;
			max-height: 150px;
            padding: 15px;
            margin: 20px auto;
            border-radius: 8px;
			
        }

        .latest-news-section ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        /* Pictorial News Section */
        .pictorial-news-section {
            background-color: white;
            width: 300px;
            padding: 15px;
            margin: 20px auto;
            text-align: center;
            border-radius: 8px;
        }

        .pictorial-news-section img {
            width: 260px;
            height: 150px;
            margin-bottom: 10px;
            border-radius: 6px;
        }